# 環境變數
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 虛擬環境
venv/
ENV/

# Streamlit
.streamlit/

# IDE 相關
.idea/
.vscode/
*.swp
*.swo

# 系統文件
.DS_Store
Thumbs.db

# Google Cloud 認證
*.json
!package.json